/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Contents
==================================================
	# Reset & Basics
	# Basic Styles
	# Site Styles
	# Typography
	# Links
	# Lists
	# Images
	# Buttons
	# Forms
	# Misc */
/* # Reset & Basics (Inspired by E. Meyers)
================================================== */
/* line 40, ../../sass/sass/base.scss */
html, body, div, span, applet, object, iframe, h1, h2,
h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time,
mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 50, ../../sass/sass/base.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu,
nav, section {
  display: block;
}

/* line 51, ../../sass/sass/base.scss */
body {
  line-height: 1;
}

/* line 52, ../../sass/sass/base.scss */
ol, ul {
  list-style: none;
}

/* line 53, ../../sass/sass/base.scss */
blockquote, q {
  quotes: none;
}
/* line 56, ../../sass/sass/base.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 61, ../../sass/sass/base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* #Basic Styles
================================================== */
/* line 70, ../../sass/sass/base.scss */
body {
  background: white;
  font: 14px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 21px;
  color: #444;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

/* #Typography
================================================== */
/* line 81, ../../sass/sass/base.scss */
h1, h2, h3, h4, h5, h6 {
  color: #181818;
  font-family: "Georgia", "Times New Roman", serif;
  font-weight: normal;
}

/* line 88, ../../sass/sass/base.scss */
h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a {
  font-weight: inherit;
}

/* line 90, ../../sass/sass/base.scss */
h1 {
  font-size: 54px;
  line-height: 58px;
  margin-bottom: 16px;
}

/* line 95, ../../sass/sass/base.scss */
h2 {
  font-size: 41px;
  line-height: 47px;
  margin-bottom: 12px;
}

/* line 100, ../../sass/sass/base.scss */
h3 {
  font-size: 33px;
  line-height: 40px;
  margin-bottom: 9px;
}

/* line 105, ../../sass/sass/base.scss */
h4 {
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 5px;
}

/* line 110, ../../sass/sass/base.scss */
h5 {
  font-size: 20px;
  line-height: 28px;
}

/* line 114, ../../sass/sass/base.scss */
h6 {
  font-size: 16px;
  line-height: 25px;
}

/* line 118, ../../sass/sass/base.scss */
.subheader {
  color: #777;
}

/* line 119, ../../sass/sass/base.scss */
p {
  margin: 0 0 20px 0;
}
/* line 121, ../../sass/sass/base.scss */
p img {
  margin: 0;
}
/* line 122, ../../sass/sass/base.scss */
p.lead {
  font-size: 25px;
  line-height: 32px;
  color: #777;
}

/* line 128, ../../sass/sass/base.scss */
em, i {
  font-style: italic;
}

/* line 129, ../../sass/sass/base.scss */
strong, b {
  font-weight: bold;
  color: #333;
}

/* line 133, ../../sass/sass/base.scss */
u {
  text-decoration: underline;
}

/* line 134, ../../sass/sass/base.scss */
small {
  font-size: 80%;
}

/*	Blockquotes  */
/* line 136, ../../sass/sass/base.scss */
blockquote, blockquote p {
  font-size: 20px;
  line-height: 28px;
  color: #777;
  font-style: italic;
}

/* line 142, ../../sass/sass/base.scss */
blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #ddd;
}

/* line 147, ../../sass/sass/base.scss */
blockquote cite {
  display: block;
  font-size: 14px;
  color: #555;
}
/* line 151, ../../sass/sass/base.scss */
blockquote cite:before {
  content: "\2014 \0020";
}
/* line 152, ../../sass/sass/base.scss */
blockquote cite a, blockquote cite a:visited {
  color: #555;
}

/* line 154, ../../sass/sass/base.scss */
hr {
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

/* #Links
================================================== */
/* line 167, ../../sass/sass/base.scss */
a, a:visited {
  color: #333;
  text-decoration: underline;
  outline: 0;
}

/* line 172, ../../sass/sass/base.scss */
a:hover, a:focus, a:active {
  color: #000;
}

/* line 173, ../../sass/sass/base.scss */
p a, p a:visited {
  line-height: inherit;
}

/* #Lists
================================================== */
/* line 177, ../../sass/sass/base.scss */
ul, ol {
  margin-bottom: 20px;
}

/* line 178, ../../sass/sass/base.scss */
ul {
  list-style: none outside;
}

/* line 179, ../../sass/sass/base.scss */
ol {
  list-style: decimal;
}

/* line 180, ../../sass/sass/base.scss */
ol, ul.square, ul.circle, ul.disc {
  margin-left: 30px;
}

/* line 181, ../../sass/sass/base.scss */
ul.square {
  list-style: square outside;
}

/* line 182, ../../sass/sass/base.scss */
ul.circle {
  list-style: circle outside;
}

/* line 183, ../../sass/sass/base.scss */
ul.disc {
  list-style: disc outside;
}

/* line 184, ../../sass/sass/base.scss */
ul ul, ul ol, ol ol, ol ul {
  margin: 4px 0 5px 30px;
  font-size: 90%;
}

/* line 189, ../../sass/sass/base.scss */
ul ul li, ul ol li,
ol ol li, ol ul li {
  margin-bottom: 6px;
}

/* line 190, ../../sass/sass/base.scss */
li {
  line-height: 18px;
  margin-bottom: 12px;
}

/* line 194, ../../sass/sass/base.scss */
ul.large li {
  line-height: 21px;
}

/* line 195, ../../sass/sass/base.scss */
li p {
  line-height: 21px;
}

/* #Images
================================================== */
/* line 199, ../../sass/sass/base.scss */
img.scale-with-grid {
  max-width: 100%;
  height: auto;
}

/* #Buttons
================================================== */
/* line 210, ../../sass/sass/base.scss */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background: #eeeeee -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  background: #eeeeee -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: #eeeeee -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: #eeeeee -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: #eeeeee linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  border: 1px solid #aaa;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #444;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  cursor: pointer;
  line-height: normal;
  padding: 8px 10px;
}
/* line 234, ../../sass/sass/base.scss */
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #222;
  background: #dddddd -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.3)));
  background: #dddddd -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  background: #dddddd -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  background: #dddddd -o-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  background: #dddddd linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  border: 1px solid #888;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
}
/* line 247, ../../sass/sass/base.scss */
.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  border: 1px solid #666;
  background: #cccccc -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.35)), color-stop(100%, rgba(10, 10, 10, 0.4)));
  background: #cccccc -webkit-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  background: #cccccc -moz-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  background: #cccccc -o-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  background: #cccccc linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
}
/* line 255, ../../sass/sass/base.scss */
.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
}
/* line 261, ../../sass/sass/base.scss */
.button.smaller,
button.smaller,
input[type="submit"].smaller,
input[type="reset"].smaller,
input[type="button"].smaller {
  font-size: 12px;
  padding: 4px 5px;
}
/* line 265, ../../sass/sass/base.scss */
.button.larger,
button.larger,
input[type="submit"].larger,
input[type="reset"].larger,
input[type="button"].larger {
  font-size: 16px;
  padding: 10px 18px;
}

/* Fix for odd Mozilla border & padding issues */
/* line 274, ../../sass/sass/base.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* #Forms
================================================== */
/* line 282, ../../sass/sass/base.scss */
form {
  margin-bottom: 20px;
}

/* line 283, ../../sass/sass/base.scss */
fieldset {
  margin-bottom: 20px;
}

/* line 291, ../../sass/sass/base.scss */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="url"],
input[type="tel"],
textarea,
select {
  background: #fff;
  border: 1px solid #ccc;
  padding: 6px 4px;
  outline: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 15px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  margin: 0 0 20px;
  width: 210px;
  max-width: 100%;
  display: block;
}
/* line 306, ../../sass/sass/base.scss */
input[type="text"]:hover, input[type="text"]:focus,
input[type="password"]:hover,
input[type="password"]:focus,
input[type="email"]:hover,
input[type="email"]:focus,
input[type="search"]:hover,
input[type="search"]:focus,
input[type="url"]:hover,
input[type="url"]:focus,
input[type="tel"]:hover,
input[type="tel"]:focus,
textarea:hover,
textarea:focus,
select:hover,
select:focus {
  border: 1px solid #aaa;
  color: #444;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
/* line 311, ../../sass/sass/base.scss */
input[type="text"]:active,
input[type="password"]:active,
input[type="email"]:active,
input[type="search"]:active,
input[type="url"]:active,
input[type="tel"]:active,
textarea:active,
select:active {
  border: 1px solid #909090;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

/* line 316, ../../sass/sass/base.scss */
select {
  padding: 0;
}

/* line 317, ../../sass/sass/base.scss */
textarea {
  min-height: 60px;
}

/* line 319, ../../sass/sass/base.scss */
label,
legend {
  display: block;
  font-size: 15px;
  font-weight: bold;
}

/* line 326, ../../sass/sass/base.scss */
select {
  width: 220px;
}

/* line 327, ../../sass/sass/base.scss */
input[type="checkbox"] {
  display: inline;
}

/* line 329, ../../sass/sass/base.scss */
label span,
legend span {
  font-size: 15px;
  font-weight: normal;
  color: #444;
}

/* #Misc
================================================== */
/* line 339, ../../sass/sass/base.scss */
.remove-bottom {
  margin-bottom: 0 !important;
}

/* line 340, ../../sass/sass/base.scss */
.half-bottom {
  margin-bottom: 10px !important;
}

/* line 341, ../../sass/sass/base.scss */
.add-bottom {
  margin-bottom: 20px !important;
}

/* line 342, ../../sass/sass/base.scss */
.subtract-bottom {
  margin-bottom: -20px !important;
}
