/* BUTTONS
 * ------------------------------------------------ */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	display: inline-block;
	height: 38px;
	padding: 0 relative(30px);
	color: $button-color;
	text-align: center;
	font-size: relative(11px);
	font-weight: $button-weight;
	line-height: 38px;
	letter-spacing: 0.1rem;
	text-transform: if($button-font-uppercase, uppercase, none);
	text-decoration: none;
	white-space: nowrap;
	background-color: $button-background-color;
	border-radius: 4px;
	border: 1px solid $button-border-color;
	cursor: pointer;
	box-sizing: border-box;
	&:hover,
	&:focus {
		color: $button-hover-color;
		border-color: $button-hover-border-color;
        background-color: $button-hover-background-color;
		outline: 0;
	}
	&.button-primary {
		color: $button-primary-color;
		background-color: $button-primary-background-color;
		border-color: $button-primary-background-color;
		&:hover,
		&:focus {
			color: $button-primary-hover-color;
			background-color: $button-primary-hover-background-color;
			border-color: $button-primary-hover-background-color;
		}
	}
}
.button:visited { color: $button-color; }

/* Fix for odd Mozilla border & padding issues */
button,
input {
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}
