/* BUTTONS
 * ------------------------------------------------ */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	display: inline-block;
	height: $button-height;
	padding: 0 relative(30px);
	color: $button-color;
	text-align: center;
	font-size: $button-font-size;
	font-weight: $button-weight;
	line-height: $button-height;
	letter-spacing: $button-letter-spacing;
	text-transform: if($button-font-uppercase, uppercase, none);
	text-decoration: none;
	white-space: nowrap;
	background-color: $button-background-color;
	border-radius: $button-border-radius;
	border: 1px solid $button-border-color;
	cursor: pointer;
	box-sizing: border-box;
	&:hover,
	&:focus {
		color: $button-hover-color;
		border-color: $button-hover-border-color;
        background-color: $button-hover-background-color;
		outline: 0;
	}
	&.button-primary {
		color: $button-primary-color;
		background-color: $button-primary-background-color;
		border-color: $button-primary-border-color;
		&:hover,
		&:focus {
			color: $button-primary-hover-color;
			background-color: $button-primary-hover-background-color;
			border-color: $button-primary-hover-border-color;
		}
	}
}
.button:visited { color: $button-color; }

/* Fix for odd Mozilla border & padding issues */
button,
input {
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}
