/* TABLES
 * ------------------------------------------------ */
th,
td {
	padding: 12px 15px;
	text-align: left;
	border-bottom: 1px solid #E1E1E1;
	&:first-child { padding-left: 0; }
	&:last-child { padding-right: 0; }
}
