// GLOBAL VARIABLES - include your variables here or alter the predefined vars
// See skeleton file for copyright info

// MY VARIABLES
// $foo: "bar";

// background vars
$backgroundColor: #fff; 														// default background information

// font vars
$fontSize: 14px; 																// default font size. Change here will adjust sizes across the board.
$fontFamily: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;	// default fonts
$fontColor: #444; 																// default font color

// form vars
$formFont: $fontFamily; 														// default font font

// link vars
$linkColor: #333;																// default link INERT color
$linkHoverColor: #000;															// default link HOVER color
$linkDecoration: underline;														// default link decoration

// heading vars
$headingFamily: "Georgia", "Times New Roman", serif;							// default heading font
$headingColor: #181818;															// default heading color

// grid variables
$baseWidth: 		960px; 														// change this to alter the overall width of the grid


// DEPCREATED: will be removed in 2.0
$baseWidthMQ:		960px;														// base width for media query calculations in layout file


$baseColWidth: 		40px;														// change this the alter the grid calculation, see _mixins file for more details
$baseGutterWidth:	20px;														// calculation has changed, this is mainly here for consistency with 960.gs
$isFluid: 			false;														// want a fluid grid by default?

// ------ CHANGE MAY CAUSE UNDESIRED RESULTS
$baseColCount: 		16;															// number of cols to generate

// media query dimensions
$tabletWidth: 			768px;
$mobilePortraitWidth: 	300px;
$mobileLandscapeWidth: 	420px;
