/* FORMS
 * ------------------------------------------------ */
form { margin-bottom: relative(20px); }
fieldset { margin-bottom: relative(20px); }
input[type="text"],
input[type="password"],
input[type="color"],
input[type="email"],
input[type="range"],
input[type="search"],
input[type="url"],
input[type="tel"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="number"],
textarea,
select {
    @include border-radius(2px);
    @include font-size($font-size + 1);
    background: #FFF;
    border: 1px solid #CCC;
    padding: relative(6px) relative(4px);
    outline: none;
    font-family: $form-font;
    color: #777;
    margin: 0 0 relative(20px);
    width: relative(210px);
    max-width: 100%;
    display: block;
    &:hover,
    &:focus {
        @include box-shadow(0 0 3px rgba(0, 0, 0, 0.2));
        border: 1px solid #AAA;
        color: #444;
    }
    &:active {
        @include box-shadow(0 0 3px rgba(0, 0, 0, 0.3));
        border: 1px solid darken(#AAA, 10%);
    }
}
select {
    padding: 0;
    width: relative(220px);
}
textarea { min-height: relative(60px); }
label,
legend {
    @include font-size($font-size + 1);
    display: block;
    font-weight: bold;
    span {
        @include font-size($font-size + 1);
        font-weight: normal;
        color: #444;
    }
}
input[type="checkbox"] { display: inline; }
