*.gem
*.rbc
.bundle
.config
.sass-cache
flavors/*/css
*.config.scss
skeleton.scss
skeleton.css
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
TODO.md

# YARD artifacts
.yardoc
_yardoc
doc/
