pre, code {
	font-family: consolas, monospace;
	background: #efefef;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 0.75rem;
	border: 1px solid #d5d5d5; }
code { padding: 0.2rem; }
nav { margin-bottom: 2.5rem; }
nav ul li {
	float: left;
	margin-right: 1.5rem; }
nav ul ul {
	width: 100%;
	margin-top: 0.5rem;
	margin-left: 0;
	padding: 0;
	display: none;
	position: absolute; }
nav ul ul li { width: 100%; }
nav ul ul input {
	width: auto !important;
	display: inline-block !important; }
.center { text-align: center; }
.hidden { visibility: hidden; }
