// Core mixins shared by all flavors (except css) are here. Any changes to these
// mixins will reflect on ALL flavors. Alter with discretion.
// Note: all logic for "private" mixins are in _dependencies.scss

// grid ( [ number $width: 960px, [ boolean $fluid: false, [  number $gutterWidth: 20px, [ number $colCount: 16 ] ] ] ] )
@mixin grid($width: $base-width, $fluid: $isFluid, $gutterWidth: $base-gutter-width, $colCount: $base-col-count) {
	@if ( $fluid == true ) {
		@include _fluidGrid($colCount);
	} @else {
		// we no longer need to set a value for $colWdith because it is generated dynamically right here!
		// @see https://github.com/atomicpages/skeleton-sass/issues/7
		$colWidth: ($width / $colCount) - $gutterWidth;
		@include _fixedGrid($width, $colWidth, $gutterWidth, $colCount);
	}
}

// mobileGrid ( [ number $width: 960px, [ number $colCount: 16 ] ] )
@mixin mobileGrid($width: $base-width, $colCount: $base-col-count) {
	@include _mobileGrid($width, $colCount);
}

// font-size ( [ number $size, [ boolean $fallback: true ] ] )
@mixin font-size($size, $fallback: $use-px-fallback) {
	@if($fallback == true) {
		font-size: $size;
	}

	@if($use-rem == true and $use-em == false and $use-percent == false) {
		font-size: rem($size);
	} @elseif($use-em == true and $use-rem == false and $use-percent == false) {
		font-size: em($size);
	} @elseif($use-percent == true and $use-rem == false and $use-em == false) {
		font-size: percent($size);
	} @else {
		@debug "More than one option is chosen for the default unit. Choose only one. Defaulting to px.";
		@if($fallback == false) {
			font-size: $size;
		}
	}
}
