.container
	.sixteen.columns
		h4 Paragraph &amp; Alignment
		h5 Left
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis, non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra elit. Vestibulum non condimentum turpis. Ut adipiscing pulvinar enim non elementum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam adipiscing pharetra lectus, at malesuada ipsum ullamcorper a. Ut in lorem turpis, id lobortis arcu. Morbi pharetra lectus a sem tincidunt in convallis nunc ultricies. Fusce et dignissim velit. Quisque vel nunc sit amet libero semper tempor sed id urna. Pellentesque imperdiet lacinia risus hendrerit vehicula. Ut eu elit magna, id scelerisque dolor.
		h5 Right
		p(style='text-align: right;') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis, non condimentum magna aliquam et.
		h5 Center
		p(style='text-align: center;') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis, non condimentum magna aliquam et.
		h5 Justify
		p(style='text-align: justify;') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis, non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra elit. Vestibulum non condimentum turpis. Ut adipiscing pulvinar enim non elementum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam adipiscing pharetra lectus, at malesuada ipsum ullamcorper a. Ut in lorem turpis, id lobortis arcu. Morbi pharetra lectus a sem tincidunt in convallis nunc ultricies. Fusce et dignissim velit. Quisque vel nunc sit amet libero semper tempor sed id urna. Pellentesque imperdiet lacinia risus hendrerit vehicula. Ut eu elit magna, id scelerisque dolor.
		h2 Headings
		h1 Lorem Ipsum
		h2 Lorem Ipsum
		h3 Lorem Ipsum
		h4 Lorem Ipsum
		h5 Lorem Ipsum
		h6 Lorem Ipsum
		h5 Bold Text
		p
			strong Lorem
		|  ipsum dolor sit amet, consectetur adipiscing elit.
		h5 Italic Text
		p
			em Lorem ipsum dolor
		|    sit amet, consectetur adipiscing elit.
		p.div.small Underline Text
		p
			span(style='text-decoration: underline;') Lorem ipsum dolor
			|	sit amet, consectetur adipiscing elit.
		h5 Anchors
		p
			a(href='', rel='nofollow') Lorem ipsum dolor
			|	sit amet, consectetur adipiscing elit.
		h4 Unordered List
		ul
			li Lorem Ipsum
			li Lorem Ipsum
			li Lorem Ipsum
			li Lorem Ipsum
		h4 Ordered List
		ol
			li Lorem Ipsum
			li Lorem Ipsum
			li Lorem Ipsum
			li Lorem Ipsum
		h4 Definition Lists
		dl
			dt Lorem
			dd Ipsum
			dt Lorem
			dd Ipsum
			dt Lorem
			dd Ipsum
			dt Lorem
			dd Ipsum
		h4 Forms
		form
			fieldset
				legend Form Fields (Legend Tag)
				label Lorem Ipsum
				input(type='text', placeholder='John Doe')
				br
				label Lorem Ipsum
				input(type='email', placeholder='user@example.com')
				br
				label Lorem Ipsum
				input(type='url', placeholder='http://google.com/')
				br
				label Lorem Ipsum
				input(type='tel', placeholder='000-000-0000')
				br
				label Lorem Ipsum
				input(type='password', value='password')
				br
				label Lorem Ipsum
				input(type='search', value='Search')
				br
				label Lorem Ipsum
				select
					option Lorem Ipsum
					optgroup(label='Lorem Ipsum')
						option Lorem Ipsum
						option Lorem Ipsum
						option Lorem Ipsum
					option Lorem Ipsum
					option Lorem Ipsum
				br
				label Lorem Ipsum&nbsp;
					input(type='checkbox', name='check', value='Search')
				label Lorem Ipsum&nbsp;
					input(type='checkbox', name='check', value='Search')
				br
				label Lorem Ipsum&nbsp;
					input(type='radio', name='radio', value='Search')
				label Lorem Ipsum&nbsp;
					input(type='radio', name='radio', value='Search')
				br
				label Lorem Ipsum
				textarea(placeholder='Text...')
			fieldset
				legend Form Buttons
				input(type='submit', value='Submit')
				br
				input(type='reset', value='Reset')
				br
				input(type='button', value='Button')
				br
				button Button
				br
				a.button Click me!
		h4 Width Manipulation
.container
	.sixteen.columns
		h5.center Two Columns
.container
	.eight.columns
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis, non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra elit.
	.eight.columns
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis, non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra elit.
.container
	.sixteen.columns
		h5.center Four Columns
.container
	.four.columns
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis, non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra elit.
	.four.columns
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis, non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra elit.
	.four.columns
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis, non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra elit.
	.four.columns
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis, non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra elit.
.container
	.sixteen.columns
		h5.center Eight Columns
.container
	.two.columns
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada.
	.two.columns
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada.
	.two.columns
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada.
	.two.columns
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada.
	.two.columns
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada.
	.two.columns
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada.
	.two.columns
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada.
	.two.columns
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada.
.container
	.sixteen.columns
		h5.center Ten &amp; Six
.container
	.ten.columns
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis, non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra elit.
	.six.columns
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis, non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra elit.
.container
	.sixteen.columns
		h5.center Seven &amp; Nine
.container
	.seven.columns
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis, non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra elit.
	.nine.columns
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis, non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra elit.
.container
	.sixteen.columns
		h5.center Four &amp; Twelve
.container
	.four.columns
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis, non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra elit.
	.twelve.columns
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis, non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra elit.
