@import "../../../node_modules/skeleton-sass-official/skeleton/core/config";

$link-decoration: underline;
$link-color: inherit;
$link-hover: $link-color;

$new-grid-width: 100%;

$fa-font-path: "../fonts";
