@import "../../../bower_components/skeleton-sass/skeleton/core/config";

$link-decoration: underline;
$link-color: inherit;
$link-hover: $link-color;

$fa-font-path: "../../bower_components/font-awesome/fonts";
