<div class="container">
	<!-- two columns -->
	<div class="sixteen columns">
		<p>Simply change the value in <code>_MYconfig.scss</code> or the name of your global configuration file to the code below:</p>
			<pre id="ss-code">
$is-fluid: true; // enables the grid to be fluid
// optionally change the default width:
//$base-width: 98%; // change to any value between 1-100</pre><br>
		<h5 class="center">Two Columns</h5>
	</div>
	<div class="eight columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis, non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra elit.</p>
	</div>
	<div class="eight columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis, non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra elit.</p>
	</div>

	<!-- four columns -->
	<div class="sixteen columns">
		<h5 class="center">Four Columns</h5>
	</div>
	<div class="four columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis, non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra elit.</p>
	</div>
	<div class="four columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis, non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra elit.</p>
	</div>
	<div class="four columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis, non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra elit.</p>
	</div>
	<div class="four columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis, non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra elit.</p>
	</div>

	<!-- eight columns -->
	<div class="sixteen columns">
		<h5 class="center">Eight Columns</h5>
	</div>
	<div class="two columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada.</p>
	</div>
	<div class="two columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada.</p>
	</div>
	<div class="two columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada.</p>
	</div>
	<div class="two columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada.</p>
	</div>
	<div class="two columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada.</p>
	</div>
	<div class="two columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada.</p>
	</div>
	<div class="two columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada.</p>
	</div>
	<div class="two columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada.</p>
	</div>

	<div class="sixteen columns">
		<h5 class="center">Ten &amp; Six</h5>
	</div>
	<div class="ten columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis, non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra elit.</p>
	</div>
	<div class="six columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis, non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra elit.</p>
	</div>

	<div class="sixteen columns">
		<h5 class="center">Seven &amp; Nine</h5>
	</div>
	<div class="seven columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis, non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra elit.</p>
	</div>
	<div class="nine columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis, non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra elit.</p>
	</div>

	<div class="sixteen columns">
		<h5 class="center">Four &amp; Twelve (Hint: good sidebar configuration)</h5>
	</div>
	<div class="four columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis, non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra elit.</p>
	</div>
	<div class="twelve columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis, non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra elit.</p>
	</div>
</div>
