<div class="container">
	<!-- two columns -->
	<div class="twelve columns">
		<p>Simply change the value in <code>_MYconfig.scss</code> or the name of your global configuration file to the
			code below:</p>
		<pre id="ss-code">
$base-col-count: 12; // sets the number of columns to 12
$base-col-width: 60px; // 12 * (60 + 20) = 960px
// $base-width is calculated automatically for you but it can be overridden easily
</pre>
		<br>
		<h5 class="center">Two Columns</h5>
	</div>
	<div class="six columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat
			malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis,
			non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra
			elit.</p>
	</div>
	<div class="six columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat
			malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis,
			non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra
			elit.</p>
	</div>

	<!-- three columns -->
	<div class="twelve columns">
		<h5 class="center">Three Columns</h5>
	</div>
	<div class="four columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat
			malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis,
			non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra
			elit.</p>
	</div>
	<div class="four columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat
			malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis,
			non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra
			elit.</p>
	</div>
	<div class="four columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat
			malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis,
			non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra
			elit.</p>
	</div>

	<!-- four columns -->
	<div class="twelve columns">
		<h5 class="center">Four Columns</h5>
	</div>
	<div class="three columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat
			malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis,
			non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra
			elit.</p>
	</div>
	<div class="three columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat
			malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis,
			non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra
			elit.</p>
	</div>
	<div class="three columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat
			malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis,
			non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra
			elit.</p>
	</div>
	<div class="three columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat
			malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis,
			non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra
			elit.</p>
	</div>


	<!-- six columns -->
	<div class="twelve columns">
		<h5 class="center">Six Columns</h5>
	</div>
	<div class="two columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat
			malesuada.</p>
	</div>
	<div class="two columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat
			malesuada.</p>
	</div>
	<div class="two columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat
			malesuada.</p>
	</div>
	<div class="two columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat
			malesuada.</p>
	</div>
	<div class="two columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat
			malesuada.</p>
	</div>
	<div class="two columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat
			malesuada.</p>
	</div>

	<div class="twelve columns">
		<h5 class="center">Five &amp; Seven</h5>
	</div>
	<div class="five columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat
			malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis,
			non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra
			elit.</p>
	</div>
	<div class="seven columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat
			malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis,
			non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra
			elit.</p>
	</div>

	<div class="twelve columns">
		<h5 class="center">Three &amp; Nine</h5>
	</div>
	<div class="three columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat
			malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis,
			non condimentum magna aliquam et.</p>
	</div>
	<div class="nine columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat
			malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis,
			non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra
			elit.</p>
	</div>

	<div class="twelve columns">
		<h5 class="center">Two &amp; Ten</h5>
	</div>
	<div class="two columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	</div>
	<div class="ten columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius dolor quis risus placerat
			malesuada. Sed dapibus ante in justo vehicula sed ultricies nibh vehicula. Aenean rutrum venenatis turpis,
			non condimentum magna aliquam et. Integer pretium rhoncus nulla id feugiat. Curabitur eget pharetra
			elit.</p>
	</div>
</div>
