@import "skeleton/loader";

// Replace the items below with your own styles!
header { margin-top: 10rem; }
header, main  { text-align: center; }
pre {
	text-align: left;
	font-family: "Consolas", "Courier New", monospace;
	background: #EFEFEF;
	border: 1px solid darken(#EFEFEF, 5%);
	padding: 2%;
}
code { @include border-radius(0); }
