// import mixins from bower_components/skeleton-sass/skeleton/themes/sphenoid/marrow/_public.scss
// to use Skeleton Sass defined mixins in your custom theme!

@mixin clear($ele: "this") {
	$ele: unquote(if($ele == this, "&", $ele));
	#{$ele}:before,
	#{$ele}:after {
		content: " ";
		display: table;
	}
	#{$ele}:after { clear: both; }
	#{$ele} { *zoom: 1; }
}
