@import "../../node_modules/skeleton-sass-official/skeleton/core/config";
@import "../../node_modules/skeleton-sass-official/skeleton/themes/fresh/vars";

$base-col-width: 40px;
$base-gutter-width: 20px;
$base-col-count: 16;

@import "../../node_modules/skeleton-sass-official/skeleton/themes/fresh/grid";
