// This file exists for not only to connect everything at the
// project level, but for you to import project-level dependencies
// stored in the marrow folder, but to also create project-level
// variables.


@import "marrow/private";
@import "marrow/public";
@import "../../core/config"; // default dependencies

// Yep, taken right from bourbon - https://github.com/thoughtbot/bourbon/blob/master/dist/settings/_prefixer.scss
$prefix-for-webkit:    true !default;
$prefix-for-mozilla:   true !default;
$prefix-for-microsoft: true !default;
$prefix-for-opera:     true !default;
$prefix-for-spec:      true !default; // set all prefixes to false EXCEPT spec to disable all vendor prefixes
