$font-size: 1.5rem;
$font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$heading-weight: 300;
$heading-family: "Quicksand", "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Buttons
$button-color: #fff;
$button-font-uppercase: true;
$button-bg-color: #333030;
$button-weight: 500;
$button-outline-border-color: $button-color;
